# Core
pandas
scikit-learn
joblib
requests
xgboost
seaborn
evidently
openai
fpdf
shap

# MLOps
mlflow>=2.0
prefect>=2.0

# API Server
fastapi
uvicorn[standard]

# Dashboard
streamlit

# Dev/Optional
python-dotenv

#RAG
langchain
langchain-community
faiss-cpu
unstructured
tiktoken